<h1> The rules of the game are: </h1>

<p> <ul>
      <li> If one player shows a Rock and the other Scissors, Rock wins </li>
      <li> If one player shows a Rock and the other is Paper, Paper wins</li>
      <li> If one player shows Scissors and the other Paper, Scissors wins</li>
      <li> Of course if both players show the same thing it is a draw</li>
    </ul>
</p>
